<!DOCTYPE html>
<html>
  <head>
    <title>Erobot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_pack_tag 'main_vue' %>
    <%= javascript_pack_tag 'main_vue' %>

    <!-- PRIME UI -->
    <link href="https://unpkg.com/primevue/resources/themes/lara-light-indigo/theme.css" rel="stylesheet">
    <link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet">
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/primevue/core/core.min.js"></script>
    <script src="https://unpkg.com/primevue/slider/slider.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
